node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Environment
.env
.env.local
.env.production

# Replit
.replit
replit.nix
.cache
.upm
.local

# Logs
*.log
npm-debug.log*

# IDE
.idea
.vscode
*.swpattached_assets/backup_help152fz_170331209692.zip
